
body{

max-width: 500px;
margin: 0 auto;
}


.mt-n2{margin-top: -30px;}

.box1 { flex: 3; }
.box2 { flex: 7; }
.box3 { flex: 1; }

.pointer-effect:hover{

cursor: pointer;


}

.question .row {

display:none;

}

.question .active {

display:block;

}


 .question img{

width: 70%;

}


.q h1 {

height: 20%;
}

.q img{

 width: 70%;
 margin-top: 10%;
 margin-bottom: 10%;

}

.q button {
position: relative;



}
